{% extends 'base.html' %}

{% block content %}
    <div class="card shadow-sm">
        <div class="card-body">
            <h3 class="card-title">Cadastro</h3>
            <hr>
            
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success w-100">Cadastrar</button>
            </form>

            <div class="text-center mt-3">
                <p>Já tem uma conta? <a href="{% url 'login' %}">Faça o login</a></p>
            </div>
        </div>
    </div>
{% endblock %}