{% extends 'base.html' %}

{% block content %}
    <div class="card shadow-sm">
        <div class="card-body">
            <h3 class="card-title">Login</h3>
            <hr>
            
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary w-100">Entrar</button>
            </form>

            <div class="text-center mt-3">
                <p>Não tem uma conta? <a href="{% url 'cadastro' %}">Cadastre-se</a></p>
            </div>
        </div>
    </div>
{% endblock %}