<h1>Minhas Tarefas ({{ request.user.username }})</h1>
<p><a href="{% url 'logout' %}">Sair</a></p>

<hr>

<h3>Adicionar Nova Tarefa</h3>
<form action="{% url 'criar_tarefa' %}" method="POST">
    {% csrf_token %}
    <label for="titulo">Título:</label>
    <input type="text" name="titulo" required>
    <button type="submit">Adicionar</button>
</form>

<hr>

<h3>Minhas Tarefas Pendentes</h3>
<ul>
    {% for tarefa in tarefas %}
        <li>
            {{ tarefa.titulo }}
            - <a href="{% url 'concluir_tarefa' tarefa.id %}">Concluir</a>
             - <a href="{% url 'excluir_tarefa' tarefa.id %}">Excluir</a>
        </li>
    {% empty %}
        <li>Você não tem tarefas pendentes.</li>
    {% endfor %}
</ul>